<nz-table #basicTable [nzData]="carModels">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carModel of carModels">
        <td>{{ carModel.name }}</td>
        <td>
          <a (click)="update(carModel.id)">Update</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(carModel.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <button nz-button nzType="primary" routerLink="/dashboard/new-items/add-car-model">Create new car model</button>