<form >
    <div class="container">
      <h1>Your profile</h1>
      <hr>

      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter name" name="name">

      <label for="pib"><b>PIB</b></label>
      <input type="text" placeholder="Enter PIB" name="pib">

      <label for="bankAccountNumber"><b>Bank Account Number</b></label>
      <input type="text" placeholder="Enter Bank Account Number" name="bankAccountNumber">

      <label for="address"><b>Address</b></label>
      <input type="text" placeholder="Enter address" name="address">
  
      <button type="submit" class="btnRegister">Save changes</button>
    </div>
  </form>