<form #formUpdateAgent="ngForm" (ngSubmit)="updateAgent()">
    <div class="container">
      <h1>Your profile</h1>
      <hr>

      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter name" name="name" [(ngModel)]="model.name">

      <label for="pib"><b>PIB</b></label>
      <input type="text" placeholder="Enter PIB" name="pib" [(ngModel)]="model.pib">

      <label for="bankAccountNumber"><b>Bank Account Number</b></label>
      <input type="text" placeholder="Enter Bank Account Number" name="bankAccountNumber" [(ngModel)]="model.bankAccountNumber"> 

      <label for="address"><b>Address</b></label>
      <input type="text" placeholder="Enter address" name="address" [(ngModel)]="model.address">
  
      <button type="submit" class="btnChange">Save changes</button>
    </div>
  </form>