<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!--NAME-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input name of company!">
        <input nz-input id="name" formControlName="name" placeholder="name" />
      </nz-form-control>
    </nz-form-item>
    <!--PIB-->
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="pib" nzRequired>Country</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input country!">
          <input nz-input id="country" formControlName="country" placeholder="country" />
        </nz-form-control>
    </nz-form-item>
    <!--CREATE-NEW-CAR-BRAND-->
    <nz-form-item nz-row class="create-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Create</button>
      </nz-form-control>
    </nz-form-item>

  </form>