<div class="content">
    <nz-card [nzCover]="coverTemplate" [nzActions]="[action]">
        <nz-card-meta nzTitle="{{ad.name}}" nzDescription="Advertisement created: {{ad.creationDate}} "></nz-card-meta>
            <br>
            <nz-card nzType="inner" nzTitle="Advertisement informations">
                <ng-container *ngIf="ad.limitedKm === 0">
                    <p>Distance to travel: UNLIMITED</p>
                </ng-container>
                <ng-container *ngIf="ad.limitedKm !== 0">
                    <p>Distance to travel: {{ad.limitedKm}} km</p>
                </ng-container>
                <p>Number of seats for children: {{ad.seats}}.</p>    
                <p>Price per day: {{ad.pricelist.pricePerDay}}</p>
                <p>Price per km: {{ad.pricelist.pricePerKilometer}}</p>
                <p>Price of cdw: {{ad.pricelist.priceCDW}}</p>
                <p>Available discount: {{ad.pricelist.discount.discount}} %</p>   
            </nz-card>          
            <!--CAR INFORMATION-->
            <nz-card nzType="inner" nzTitle="Car informations">
                <p>Car brand: {{ad.car.carModel.carBrand.name}}</p>
                <p>Car model: {{ad.car.carModel.name}}</p>
                <p>Car class: {{ad.car.carModel.carClass.name}}</p>
                <p>Fuel type: {{ad.car.fuelType.type}}</p>
                <p>Gearshift type: {{ad.car.gearshiftType.type}}</p>
                <p>Kilometer traveled: {{ad.car.kmTraveled}}</p>
            </nz-card> 
            <nz-card nzType="inner" nzTitle="Publisher informations" *ngIf="ad.simpleUser">
                    <p>First name: {{ad.publisher.firstName}}</p>
                    <p>Last name: {{ad.publisher.lastName}}</p>
                    <p>Email: {{ad.publisher.username}}</p>
                    <p>Address: {{ad.publisher.address}}</p>
            </nz-card>
            <nz-card nzType="inner" nzTitle="Publisher informations" *ngIf="!ad.simpleUser">
                    <p>Company name: {{ad.publisher.name}}</p>
                    <p>Date founded: {{ad.publisher.dateFounded}}</p>
                    <p>Bank account number: {{ad.publisher.bankAccountNumber}}</p>
                    <p>Address: {{ad.publisher.address}}</p>
            </nz-card>
            <br>
    </nz-card>

    <ng-template #coverTemplate>
        <ng-container *ngIf="pictureExists">
            <img [src]="retrievedImage" />
        </ng-container> 
        <ng-container *ngIf="!pictureExists">
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
         </ng-container> 
    </ng-template>

    <ng-template #action>
        <ng-container *ngIf="actionType === 'rent'">
            <i nz-icon nzType="car" (click)=moreDetails(ad.id)></i>
        </ng-container> 
        <ng-container *ngIf="actionType === 'modify'">
            <i nz-icon nzType="edit" (click)=updateAd(ad.id)></i>
            <i nz-icon nzType="delete"  (click)=deleteAd(ad.id) ></i>
        </ng-container> 
    </ng-template>
</div>