<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item *ngIf="isAdmin" (click)="adminProfile()">Change your profile </li>
      <li nz-menu-item *ngIf="isAgent" (click)="agentProfile()">Change your profile </li>
      <li nz-menu-item *ngIf="isSimpleUser" (click)="simpleUserProfile()">Change your profile </li>
      <li nz-menu-item (click)="clearStorage()">Logout</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item *ngIf="isAdmin" routerLink="/dashboard/lists/registration-requests">Registration requests</li>
        <li nz-menu-item *ngIf="isAdmin" routerLink="/dashboard/lists/activated">Activated users</li>
        <li nz-menu-item *ngIf="isAdmin" routerLink="/dashboard/lists/blocked">Blocked users</li>
        <li nz-menu-item *ngIf="isAdmin" routerLink="/dashboard/auth/register-agent">Register agent</li>
        <li nz-submenu *ngIf="isAdmin"  nzTitle="Codebook">
          <ul>
            <li nz-menu-item routerLink="/dashboard/lists/fuel-types">Fuel types</li>
            <li nz-menu-item routerLink="/dashboard/lists/car-classes">Car classes</li>
            <li nz-menu-item routerLink="/dashboard/lists/car-models">Car models</li>
            <li nz-menu-item routerLink="/dashboard/lists/car-brands">Car brands</li>
            <li nz-menu-item routerLink="/dashboard/lists/gearshift-types">Gearshift types </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      

    </nz-layout>
  </nz-layout>
</nz-layout>