<form #formUpdateSimpleUser="ngForm" (ngSubmit)="updateSimpleUser()">
    <div class="container">
      <h1>Your profile</h1>
      <hr>

      <label for="firstName"><b>First Name</b></label>
      <input type="text" placeholder="Enter First name" name="firstName" [(ngModel)]="model.firstName">

      <label for="lastName"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last name" name="lastName" [(ngModel)]="model.lastName">

      <label for="ssn"><b>SSN</b></label>
      <input type="text" placeholder="Enter SSN " name="ssn" [(ngModel)]="model.ssn">

      <label for="address"><b>Address</b></label>
      <input type="text" placeholder="Enter address" name="address" [(ngModel)]="model.address">
  
      <button type="submit" class="btnChange">Save changes</button>
    </div>
  </form>