<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!--NAME-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="content" nzRequired>Content</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input content!">
        <input nz-input id="content" formControlName="content" placeholder="content" />
      </nz-form-control>
    </nz-form-item>
    <!--CREATE-NEW-CAR-BRAND-->
    <nz-form-item nz-row class="create-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Send comment</button>
      </nz-form-control>
    </nz-form-item>
  </form>