<table class="table">
    <tr>
      <th *ngFor = "let column of headers">
        {{column}}
      </th>
    </tr> 
      <tr *ngFor = "let pendingUser of pendingUsers"> {{pendingUser.username}} </tr>
      <tr *ngFor = "let pendingUser of pendingUsers"> {{pendingUser.firstName}} </tr>
      <tr *ngFor = "let pendingUser of pendingUsers"> {{pendingUser.lastName}} </tr>
      <tr *ngFor = "let pendingUser of pendingUsers"> {{pendingUser.ssn}} </tr>
      <tr *ngFor = "let pendingUser of pendingUsers"> {{pendingUser.address}} </tr>

      <button nz-button nzType="primary">Primary Button</button>
    
</table>