<form #formUpdateAdmin="ngForm" (ngSubmit)="updateAdmin()">
    <div class="container">
      <h1>Your profile</h1>
      <hr>

      <label for="fName"><b>First Name</b></label>
      <input type="text" placeholder="Enter First name" name="fName" [(ngModel)]="model.firstName">

      <label for="lName"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last name" name="lName" [(ngModel)]="model.lastName">
  
      <button type="submit" class="btnChange">Save changes</button>
    </div>
  </form>